#!/bin/bash

[Unit]
Description=<application-description>
Documentation=https://github.com/jacksonmccluskey
After=network.target

[Service]
Type=simple
User=<user>
WorkingDirectory=<project-directory>
ExecStart=/bin/bash run.sh
Restart=always

[Install]
WantedBy=multi-user.target
